:root{
    --color_bg:#fff;
    --color_card:#16d867;
    --color_text:#fff;
}
*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--color_bg);
}
.card{
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 400px;
    left: calc( 50% - 200px );
    top: calc( 50vh - 200px);
    border-radius: 15px;
    background-color: var(--color_card);
}
.check{
    display: none;
}
.burger{
    position: relative;
    height: 20%;
    width: 30%;
    top: 40%;
    left: 35%;
    cursor:grab;
}
.line{
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px -3px #095c2b;
    background-color: var(--color_text);
}
.burger__top{
    top: 5px;
    translate: 0px 0px;
    rotate: 0deg;
    transition:
    rotate 0.3s linear, 
    translate 0.3s linear 0.3s;
}
.check:checked + label > .burger > .burger__top{
    translate: 0px 30px;
    rotate: 45deg;
    transition: 
    translate 0.3s linear 0.1s,
    rotate 0.3s linear 0.5s;
}
.burger__center{
    top: calc( 50% - 5px );
    scale: 1;
    transition: scale 0.3s linear 0.4s;
}
.check:checked + label > .burger > .burger__center{
    scale: 0;
    transition: scale 0.3s linear;
}
.burger__bottom{
    bottom: 5px;
    translate: 0px 0px;
    rotate: 0deg;
    transition:
    rotate 0.3s linear, 
    translate 0.3s linear 0.3s;
}
.check:checked + label > .burger > .burger__bottom{
    translate: 0px -30px;
    rotate: 135deg;
    transition: 
    translate 0.3s linear 0.1s,
    rotate 0.3s linear 0.5s;
}