:root{
    --color_bg:#fff;
    --color_card:#00daa3;
    --color_text:#fff;
}
*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--color_bg);
}
.card{
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 400px;
    left: calc( 50% - 200px );
    top: calc( 50vh - 200px);
    border-radius: 15px;
    background-color: var(--color_card);
}
.graph{
    position: absolute;
    height: 200px;
    width: 300px;
    top: 100px;
    left: 50px;
    box-shadow: 10px 10px 15px -10px #004433;
    background-color: #fff;
}
.graph__header{
    height: 50px;
    width: 100%;
    background-color: #ffbc02;
}
.text{
    position: absolute;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color_text);
}
.text__title{
    font-size: 1rem;
    top: 10px;
    left: 10px;
}
.text__subtitle{
    font-size: .8rem;
    right: 10px;
    top: 15px;
}
.text__date{
    font-size: .8rem;
    left: 10px;
    top: 25px;  
}
.text__money{
    font-size: 1rem;
    right: 10px;
    top: 25px;  
}
.graph__main{
    position: absolute;
    height: 150px;
    width: 100%;
    top: 50px;
}
.label{
    position: absolute;
    display: inline-block;
    margin: 0;
    font-size: .7rem;
}
.label__blue{
    top: 20px;
    right: 10px;
}
.label__red{
    top: 20px;
    right: 120px;
}
.label::after{
    content: "";
    position: absolute;
    display: block;
    width: 12.5px;
    height: 3px;
    left: -15px;
    top: 4px;
    border-radius: 1.5px;
}
.label__blue::after{
    background-color: #00bbbb;
}
.label__red::after{
    background-color: #ff6347;
}
.graph__line{
    position: absolute;
    left: 20px;
    bottom: .9rem;
}
.point{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor:pointer;
}
.point__red{
    z-index: 50;
    background-color: #ff6347;
}
.point__blue{
    z-index: 100;
    background-color: #00bbbb;
}
.sign{
    position: absolute;
    display: inline-block;
    height: 1.rem;
    width: 2.4rem;
    color: #00000000;
    padding: .2rem;
    text-align: center;
    clip-path: polygon(100% 0, 100% 85%, 60% 85%, 50% 100%, 40% 85%, 0 85%, 0 0);
    background-color: #00000000;
}
.sign__blue{
    z-index: 75;
}
.point__red-1{
    top: 63px;
    left: 16px;
}
.sign__red-1{
    top: 50px;
    left: 2px;
}
.point__red-2{
    top: 55.5px;
    left: 58px;
}
.sign__red-2{
    top: 42.5px;
    left: 44px;
}
.point__red-3{
    top: 65.5px;
    left: 101px;
}
.sign__red-3{
    top: 52.5px;
    left: 87px;
}
.point__red-4{
    top: 59.5px;
    left: 144px;
}
.sign__red-4{
    top: 46.5px;
    left: 130px;
}
.point__red-5{
    top: 50px;
    left: 187px;
}
.sign__red-5{
    top: 37px;
    left: 173px;
}
.point__red-6{
    top: 55px;
    left: 230px;
}
.sign__red-6{
    top: 42px;
    left: 215.5px;
}
.point__red-7{
    top: 45px;
    left: 274px;
}
.sign__red-7{
    top: 32px;
    left: 260px;
}
.point__blue-1{
    top: 108px;
    left: 16px;
}
.sign__blue-1{
    top: 95px;
    left: 2px;
}
.point__blue-2{
    top: 100.5px;
    left: 58px;
}
.sign__blue-2{
    top: 87.5px;
    left: 44px;
}
.point__blue-3{
    top: 115.5px;
    left: 101px;
}
.sign__blue-3{
    top: 102.5px;
    left: 87px;
}
.point__blue-4{
    top: 89.5px;
    left: 144px;
}
.sign__blue-4{
    top: 76.5px;
    left: 130px;
}
.point__blue-5{
    top: 110px;
    left: 187px;
}
.sign__blue-5{
    top: 97px;
    left: 173px;
}
.point__blue-6{
    top: 105px;
    left: 230px;
}
.sign__blue-6{
    top: 92px;
    left: 215.5px;
}
.point__blue-7{
    top: 90px;
    left: 274px;
}
.sign__blue-7{
    top: 77px;
    left: 260px;
}
.week{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 280px;
    left: 10px;
    bottom: 0;
}
.day{
    margin: 0;
    font-size: .75rem;
}
.point:hover+.sign{
    transform: translateY(-12px);
    color: #fff;
    transition: all .8s;
}
.point__red:hover+.sign{
    background-color: #ff6347;
    transition: all .8s;
}
.point__blue:hover+.sign{
    background-color: #00bbbb;
    transition: all .8s;
}